
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////// GENERAL DESKTOP //////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* -------------------- Background -------------------- */
.auth {
    display: flex; align-items: center; justify-content: center;
    height: calc(100vh - 160px);
    background-position: center;
    font-size: 16px; font-family: 'Raleway', Arial;
    overflow: hidden;
}

/* -------------------- Form Log & Sign -------------------- */
.auth form:not(.account-form) {
    display: flex; flex-direction: column; align-items: center;
    height: auto; max-width: 280px;
    padding: 0 90px 0 90px;
    border: 1px solid black;
    background-color: #f9f9f9 !important;
    overflow: hidden;
}

/* -------------------- 3 games icons -------------------- */
.auth .games-icons {
    display: flex; align-items: center; justify-content: center;
    height: 60px; width: 500px;
    background-color: black !important;
}
.auth .games-icons > .lol-logo {
    height: 32px;
    margin-right: 20px;
}
.auth .games-icons > .fortnite-logo {
    height: 40px;
    margin-right: 20px;
}
.auth .games-icons > .rocket-logo {
    height: 32px;
}

/* -------------------- Form title -------------------- */
.auth form > span {
    width: 92vw; max-width: 460px;
    margin: 42px 4vw 0 4vw;
    font-size: 24px; -webkit-text-stroke: 0.75px; text-align: center;
}

/* -------------------- Legal and Redirection -------------------- */
.auth p {
    margin: 10px 0 0 0;
    font-size: 14px; text-align: center;
    color: grey;
}

.manual-redirection a {
    color: grey !important;
    text-decoration: underline !important;
}
.manual-redirection.forgot a {
    text-decoration: none !important;
}
.manual-redirection a:hover {
    color: black !important;
    text-decoration: underline !important;
}

/* -------------------- Notifs -------------------- */
.error-input {
    display: none;
    margin-left: 8px;
    font-size: 14px;
    color: red;
}
.error-input.log-attempt {
    -webkit-text-stroke: 0.2px;
    color: red;
}
.confirmation-modif {
    display: none;
    margin-left: 8px;
    font-size: 14px;
    color: #00AD3F;
}

/* -------------------- Inputs -------------------- */
.auth label:first-of-type {
    margin-top: 40px !important;
}
.auth label {
    align-self: flex-start;
    margin: 10px 0 8px 0;
    font-size: 18px; -webkit-text-stroke: 0.4px;
}

.auth input {
    width: 100%;
    padding: 10px 12px;
    margin-bottom: 5px;
    border: 1px solid #cdcdcd;
    font-size: 16px; font-family: 'Raleway', Arial;
}
.auth input::placeholder {
    font-size: 14px; font-family: 'Raleway', Arial;
}
.auth input:focus {
    background-color: rgb(255, 251, 255);
}

/* -------------------- Birth inputs -------------------- */
.wrap-birth-inputs {
    display: flex;
    width: 100%;
    font-size: 16px; font-family: 'Raleway', Arial;
}
.day {
    flex-basis: 15%;
    margin-right: 2%;
    text-align: center;
}
.month {
    flex-basis: 58%;
    padding-left: 8px;
    margin: 0 2% 6px 0;
    border: 1px solid #cdcdcd;
    background-color: white;
    font-size: 14px; font-family: 'Raleway', Arial; text-align: center;
    color: grey;
}
.year {
    flex-basis: 23%;
    text-align: center;
}

/* -------------------- Phone input -------------------- */
.react-tel-input * {
    background-color: white !important;
}
.react-tel-input {
    margin: 0 0 5px -9%;
}
.phone-input {
    border-color:#cdcdcd !important;
}
.react-tel-input .form-control {
    width: 109% !important;
    border-radius: 0px !important;
    border-color:#cdcdcd !important;
}
#phone-form-control {
    height: 40px;
    font-size: 16px !important; font-family: 'Raleway', Arial !important;
}

/* -------------------- Button -------------------- */
.auth button {
    width: fit-content;
    padding: 12px 28px 12px 28px;
    margin: 30px 0 50px 0;
    border: none;
    background-color: rgb(80, 0, 80);
    font-size: 22px; font-family: "Lato", Arial; -webkit-text-stroke: 0.1px;
    color: white;
    -webkit-transition-duration: 0.45s; transition-duration: 0.45s;
}
.auth button:hover, .auth button:active {
    color: rgb(100, 0, 100);
    border: 1px solid;
    background-color: white;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////// LOG SIGN UNDER 460 /////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

@media screen and (max-width: 460px) {

    .auth.log-sign {
        height: auto;
    }
    .auth.log-sign form {
        width: 70vw; min-width: 70vw;
        padding: 0 15vw 0 15vw;
        border: none;
    }

    .auth.log-sign button {
        padding: 11px 26px 11px 26px;
        font-size: 20px;
    }
    
    .auth.log-sign form > span {
        font-size: 22px;
    }
}


/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////// ACCOUNT //////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* -------------------- Form account -------------------- */
.auth.account form {
    display: flex; flex-direction: column; align-items: center;
    max-width: 780px;
    border: 1px solid black;
    background-color: #f9f9f9 !important;
}
.auth form > .wrap-columns {
    display: flex;
}

.auth form > .wrap-columns > div {
    display: flex; flex-direction: column; align-items: center;
    width: 50%;
    padding: 0 75px 0 45px;
}
.auth form > .wrap-columns > div:first-child {
    padding: 0 45px 0 75px;
}

/* -------------------- email & delete link -------------------- */
.auth.account form cite {
    font-style: normal;
}
.auth.account form p {
    margin-top: 25px;
}
.auth.account form p > a {
    text-decoration: none !important;
}
.auth.account form p > a:hover {
    text-decoration: underline !important;
}

/* -------------------- Account delete button -------------------- */
.auth.account .log-out {
    padding: 10px 15px 10px 15px;
    margin: 30px 238px 50px 0;
    border: 1px solid #e60000;
    background-color: transparent;
    color: #e60000;
    font-size: 16px;
}
.auth.account .log-out:hover, .auth.account .log-out:active {
    color: white;
    border: 1px solid;
    background-color: #e60000;
}

/* ----------------- Pop up delete account ----------------- */
.delete-popup {
    display: flex; flex-direction: column; align-items: center;
    padding: 16px;
}
.delete-popup p {
    font-size: 16px; font-family: 'Raleway', Arial, Helvetica; -webkit-text-stroke: 0.1px;
    color: #333333;
}

.delete-popup > .close {
    position: absolute; display: block;
    right: -10px; top: -10px;
    padding: 2px 5px;
    font-size: 24px;
    line-height: 20px;
    background: #ffffff;
    border: 1px solid #cfcece;
    border-radius: 18px;
}

.delete-popup > .wrap-buttons > button {
    padding: 4px 12px 4px 12px;
    background: none;
    font-size: 18px; font-family: 'Raleway', Arial, Helvetica; -webkit-text-stroke: 0.3px;
    transition-duration: 0.4s; -webkit-transition-duration: 0.4s;
}

.delete-popup > .wrap-buttons > button[class="no"] {
    margin-left: 12px;
    border: 2px solid #e60000;
    color: #e60000;
    
}
.delete-popup > .wrap-buttons > button[class="no"]:hover {
    background-color: #e60000;
    color: white;
}

.delete-popup > .wrap-buttons > button[class="yes"] {
    color: #00AD3F;
    border: 2px solid #00AD3F;
}
.delete-popup > .wrap-buttons > button[class="yes"]:hover {
    background-color: #00AD3F;
    color: white;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////// ACCOUNT UNDER 780 /////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

@media screen and (max-width: 780px) {

    /* -------------------- Form account -------------------- */
    .auth.account {
        height: auto;
    }
    .auth.account form {
        width: 70vw; min-width: 70vw;
        padding: 0 15vw 0 15vw;
    }
    .auth.account form > .wrap-columns {
        flex-direction: column;
    }
    .auth.account form > .wrap-columns > div {
        width: 100%;
        padding: 0;
    }
    .auth.account form > .wrap-columns > div:first-child {
        padding: 0;
    }

    /* -------------------- Title -------------------- */
    .auth.account form > span {
        font-size: 22px;
    }

    /* -------------------- 2nd div -------------------- */
    .auth.account div[class="wrap-columns"] > div:nth-child(2) label:first-of-type {
        margin-top: 10px !important;
    }




    .auth.account .wrap-account-buttons {
        display: flex; flex-direction: column; align-items: center;
    }
    /* -------------------- Button -------------------- */
    .auth.account button {
        padding: 11px 26px 11px 26px;
        margin-bottom: 30px;
        font-size: 20px;
    }
    /* -------------------- Account delete button -------------------- */
    .auth.account .log-out {
        padding: 10px 15px 10px 15px;
        margin: 0 0 50px 0;
        border: 1px solid #e60000;
        background-color: transparent;
        color: #e60000;
        font-size: 14px;
        order: 2;
    }
    .auth.account .log-out:hover, .auth.account .log-out:active {
        color: white;
        border: 1px solid;
        background-color: #e60000;
    }







    /* -------------------- Popup -------------------- */
    .delete-popup {
        max-width: 80vw;
    }
    .delete-popup > .wrap-buttons > button {
        padding: 4px 12px 4px 12px;
        font-size: 18px;
    }
}