
.buy-ecoin {
    display: flex; flex-direction: column; align-items: center; justify-content: center;
    min-height: calc(100vh - 161px);
    background-position: center;
    border-top: 1px solid;
}

.buy-ecoin > div {
    display: flex; flex-direction: column; align-items: center;
    padding: 50px 90px 40px 90px;
    background-color: #f9f9f9 !important;
    border: 1px solid black;
}

.buy-ecoin h1 {
    width: fit-content;
    margin: 0 0 50px 0;
    font-family: 'Raleway', Arial; font-size: 24px; -webkit-text-stroke: 0px;
    color: #4d4d4d;
    text-align: center;
}

.buy-ecoin form {
    display: flex; flex-direction: column;
    width: 100%; max-width: 300px;
}

.buy-ecoin label {
    margin: 10px 0 8px 10px;
    font-size: 16px; -webkit-text-stroke: 0.3px;
}
.buy-ecoin input {
    box-sizing: border-box;
}
.buy-ecoin .wrap-ecoin-price {
    display: flex;
    margin-bottom: 6px;
}
.buy-ecoin .wrap-ecoin-price > div {
    display: flex; flex-direction: column;
    width: 45%;
}
.buy-ecoin .wrap-ecoin-price > div:first-child {
    margin-right: 10%;
}
.buy-ecoin .wrap-ecoin-price > div > .number {
    margin: auto 0 auto 10px;
}

.buy-ecoin button {
    align-self: center;
}
.buy-ecoin p {
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
    color: grey;
}
.buy-ecoin .stripe-logo {
    height: 26px; width: 119px;
    margin-top: 5px;
    align-self: center;
}

.buy-ecoin form .card-field {
    width: 100%; height: 41px;
    background-color: white;
    padding: 12px 12px 10px 12px;
    border: 1px solid #cdcdcd;
    box-sizing: border-box;
}
.buy-ecoin form .card-field.StripeElement--focus {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    border-color: #66AFE9;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////// BUY ECOIN UNDER 482 ////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

@media screen and (max-width: 482px) {
    .buy-ecoin {
        min-height: 0;
    }
    .buy-ecoin > div {
        width: 100%;
        padding: 50px 0 40px 0;
        background-color: #f9f9f9 !important;
        border: none;
    }
}