

/* -------------------- Background and center div -------------------- */
.buy-ecoin {
    display: flex; flex-direction: column; align-items: center; justify-content: center;
    height: fit-content; min-height: calc(100vh - 160px);
    background-position: center;
    border-top: 1px solid;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .buy-ecoin {
        height: calc(100vh - 160px);
    }
}
.buy-ecoin > div {
    display: flex; flex-direction: column; align-items: center;
    padding: 50px 90px 40px 90px;
    background-color: #f9f9f9 !important;
    border: 1px solid black;
}

/* -------------------- Form -------------------- */
.buy-ecoin form {
    display: flex; flex-direction: column;
    width: 100%; max-width: 300px;
}

/* -------------------- Elements -------------------- */
.buy-ecoin .title {
    width: fit-content;
    margin: 0 0 50px 0;
    font-family: 'Raleway', Arial; font-size: 24px; -webkit-text-stroke: 0.75px;
    color: #333333;
    text-align: center;
}
.buy-ecoin label {
    margin: 10px 0 8px 10px;
    font-size: 16px; -webkit-text-stroke: 0.3px;
}
.buy-ecoin input {
    box-sizing: border-box;
}
.buy-ecoin button {
    align-self: center;
}
.buy-ecoin p {
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
    color: grey;
}

/* -------------------- Select method -------------------- */
.buy-ecoin .select-method {
    display: flex; justify-content: space-between;
    margin-bottom: 30px;
}
.buy-ecoin .select-method > div {
    display: flex; flex-direction: column; align-items: center; justify-content: flex-end;
    height: 75px; width: 125px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    text-align: center;
}
.buy-ecoin .select-method > div > * {
    cursor: pointer;
}
.buy-ecoin .select-method input {
    width: fit-content; min-width: 13px;
    margin-top: 5px;
}
.buy-ecoin .select-method label {
    display: flex; flex-direction: column; align-items: center;
    margin: 0;
}

/* ---------- Method logos ---------- */
.buy-ecoin .mastercard-logo {
    height: 26px;
    margin-bottom: 5px;
}
.buy-ecoin .visa-logo {
    height: 26px;
    margin-bottom: 5px;
}
.buy-ecoin .paypal-logo {
    height: 45px;
}
.buy-ecoin .paysafecard-logo {
    height: 40px;
    margin-bottom: -1px;
}

/* -------------------- eCoins amount -------------------- */
.buy-ecoin .ecoin-amount {
    display: flex;
    margin-bottom: 6px;
}
.buy-ecoin .ecoin-amount > div {
    display: flex; flex-direction: column;
    width: 45%;
}
.buy-ecoin .ecoin-amount > div:first-child {
    margin-right: 10%;
}
.buy-ecoin .ecoin-amount > div > .number {
    margin: auto 0 auto 10px;
}

/* -------------------- Methods -------------------- */
.buy-ecoin .method {
    display: flex; flex-direction: column;
}
.buy-ecoin .method.paypal {
    padding-top: 30px;
}

/* -------------------- Stripe creditcard -------------------- */
.buy-ecoin form .card-field {
    width: 100%; height: 41px;
    background-color: white;
    padding: 12px 12px 10px 12px;
    border: 1px solid #cdcdcd;
    box-sizing: border-box;
}
.buy-ecoin form .card-field.StripeElement--focus {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    border-color: #66AFE9;
}
.buy-ecoin .stripe-logo {
    height: 26px; width: 119px;
    margin-top: 5px;
    align-self: center;
}


/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////// BUY ECOIN UNDER 482 ////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

@media screen and (max-width: 482px) {
    .buy-ecoin {
        min-height: 0;
    }
    .buy-ecoin > div {
        width: 100%;
        min-height: calc(100vh - 161px);
        padding: 40px 0 40px 0;
        background-color: #f9f9f9 !important;
        border: none;
    }
}