.home {
    background-color: black;
}

.home-1 {
    display: flex; align-items: center; justify-content: center;
    height: 700px;
    overflow: hidden;
}

#videoBG {
    opacity: 0.15;
    height: 133%;
    flex-shrink: 0;
}

.home-1 div {
    position: absolute;
    display: flex; flex-direction: column; align-items: center;
    height: fit-content; max-width: 400px;
}
.home-1 div > p {
    font-size: 46px; font-family: "Lato", Arial; -webkit-text-stroke: 0.5px;
    line-height: 66px;
    color: white;
}
.home-1 div > button {
    width: fit-content;
    padding: 14px 60px 14px 60px;
    font-size: 36px; font-family: "Lato", Arial; -webkit-text-stroke: 0.5px;
    color: white;
    background-color: rgb(80, 0, 80);
    border: none; border-radius: 100px;
    cursor: pointer;
    -webkit-transition-duration: 0.45s; transition-duration: 0.45s;
}
.home-1 div > button:hover, .home-1 div > button:active {
    background-color: white;
    color: rgb(80, 0, 80);
}

.home-2 {
    height: 800px;
    background-color: white;
}