
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////// OVER 1000 /////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.home {
    background-color: black;
}

/* //////////////////////////////////////// HOME 1 //////////////////////////////////////// */

.home-1 {
    display: flex; align-items: center; justify-content: center;
    height: 700px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}
#videoBG {
    height: 133%;
    flex-shrink: 0;
    opacity: 0.2;
}

/* -------------------- Big text and button -------------------- */
.home-1 > div {
    position: absolute; display: flex; flex-direction: column; align-items: center;
    height: fit-content;
    margin-top: -40px;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .home-1 > div {
        top: 200px; left: 275px;
    }
}
.home-1 > div > p {
    font-size: 85px; font-family: 'Poppins', Arial; -webkit-text-stroke: 3px;
    line-height: 134%;
    color: white;
}
.home-1 > div > button {
    padding: 14px 60px 14px 60px;
    margin-top: 50px;
    font-size: 36px; -webkit-text-stroke: 0.5px;
    border: none; border-radius: 100px;
}

/* --------------------------- Waves --------------------------- */
.svg-wrapper{
    display: block;
    position: relative;
    width: 100%;
    height: 100px;
    background-color: white;
    margin-bottom: -20px;
}
.svg-wrapper svg {
    position: absolute;
    left: 0;
    top: -60px;
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.svg-wrapper path {
    fill: white;
}


/* //////////////////////////////////////// HOME 2 //////////////////////////////////////// */

.home-2 {
    display: flex; align-items: top; flex-wrap: wrap;
    justify-content: space-around;
    justify-content: space-evenly;
    height: fit-content;
    padding: 0;
    background-color: white;
    cursor: pointer;
}

/* -------------------- .step = 1 of 3 wraped elements -------------------- */
.step {
    display: flex; flex-direction: column; align-items: center;
    height: fit-content; width: fit-content;
    padding: 0px 20px 30px 20px;
}

.step .number {
    height: 38px;
    z-index: 1;
}

/* -------------------- wrap of icon + text -------------------- */
.step div {
    display: flex; align-items: center;
    height: fit-content; width: fit-content;
    margin-top: 20px;
}

.step span {
    align-self: flex-end;
}

.step.first .icon {
    height: 35px;
    margin-right: 15px;
}
.step.second .icon {
    height: 40px;
    margin-right: 15px;
}
.step.third .icon {
    height: 50px;
    margin-right: -5px;
}

.step p {
    width: fit-content;
    max-width: 245px;
    margin-right: 10px;
    font-size: 24px; font-family: "Raleway", Arial; -webkit-text-stroke: 0.75px;
    text-align: center;
    color: black;
}
.step.third p {
    line-height: 140%;
}

/* //////////////////////////////////////// HOME 3 //////////////////////////////////////// */

.home-3 {
    display: flex; flex-direction: column; align-items: center; justify-content: center;
    width: 100%;
    padding-top: 30px;
    margin-top: -1px;
    font-size: 30px; font-family: "Raleway", Arial; -webkit-text-stroke: 1px;
    color: black;
    background-color: white;
}

/* -------------------- Paragraph separator -------------------- */
.home-3 > img {
    width: 300px; max-width: 70%;
    margin-bottom: 60px;
}

/* -------------------- Wrap all games image -------------------- */
.home-3 div {
    display: flex; align-items: center; flex-wrap: wrap;
    justify-content: space-around;
    justify-content: space-evenly;
    width: calc(100vw - (100vw - 1160px));
    margin-top: 40px;
}
.home-3 div > a {
    width: 550px; max-width: 95.5%;
    margin-bottom: 12px;
}
.home-3 div > a > img {
    width: 100%;
    border-radius: 14px;
}


/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////// UNDER 1000 ////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

@media screen and (max-width: 1200px) {

    /* //////////////////////////////////////// HOME 1 //////////////////////////////////////// */

    /* -------------------- Big text and button -------------------- */
    .home-1 > div {
        margin-top: -60px;
    }

    .home-1 > div > p {
        padding-left: 9%;
        padding-right: 9%;
        font-size: 54px; -webkit-text-stroke: 1.5px;
        text-align: center;
        line-height: 145%;
    }
    .home-1 > div > button {
        margin-top: 60px !important;
    }

    /* //////////////////////////////////////// HOME 2 //////////////////////////////////////// */

    .home-2 {
        padding: 0;
    }

    /* -------------------- .step = 1 of 3 wraped elements -------------------- */
    .step {
        padding: 25px 20px 25px 20px;
    }

    /* -------------------- wrap of icon + text -------------------- */
    .step.first {
        padding-top: 0;
    }
    .step.first .icon {
        height: 35px;
        margin: -25px 6px 0 0;
    }
    .step.second .icon {
        height: 40px;
        margin-right: 15px;
    }
    .step.third .icon {
        height: 50px;
        margin: -10px -13px 0 0;
    }

    .step p {
        max-width: 188px;
        font-size: 22px; font-family: "Raleway", Arial; -webkit-text-stroke: 0.75px;
    }

    /* //////////////////////////////////////// HOME 3 //////////////////////////////////////// */

    .home-3 {
        font-size: 26px; font-family: "Raleway", Arial; -webkit-text-stroke: 1px;
        padding-top: 35px;
        margin-top: -1px;
    }

    /* -------------------- Paragraph separator -------------------- */
    .home-3 > img {
        margin-bottom: 55px;
    }

    /* -------------------- Wrap all games image -------------------- */
    .home-3 div {
        display: flex; flex-direction: column; justify-self: center; align-items: center;
        width: 98%;
        margin-top: 35px;
    }
    .home-3 div > a {
        margin-bottom: 6px;
    }
    .home-3 div > a > img {
        border-radius: 6px;
    }

}


@media screen and (max-width: 330px) {
    .home-1 > div > p {
        font-size: 52px;
    }
}
