
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////// GENERAL DESKTOP //////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* -------------------- Background -------------------- */
.auth {
    display: flex; align-items: center; justify-content: center;
    height: fit-content; min-height: calc(100vh - 160px);
    background-position: center;
    font-size: 16px; font-family: 'Raleway', Arial;
    overflow: hidden;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .auth {
        height: calc(100vh - 160px);
    }
}

/* -------------------- Form Log & Sign -------------------- */
.auth form:not(.account-form) {
    display: flex; flex-direction: column; align-items: center;
    height: auto; max-width: 280px;
    padding: 0 90px 40px 90px;
    background-color: #f9f9f9 !important;
    overflow: hidden;
}

/* -------------------- 3 games icons -------------------- */
.auth .games-icons {
    display: flex; align-items: center; justify-content: center;
    height: 60px; width: 500px;
    background-color: black !important;
}
.auth .games-icons > .lol-logo {
    height: 34px;
    margin-right: 20px;
}
.auth .games-icons > .fortnite-logo {
    height: 34px;
    margin-right: 20px;
}
.auth .games-icons > .csgo-logo {
    height: 34px;
    margin-right: 16px;
    filter: invert(100%);
}
.auth .games-icons > .fifa20-logo {
    height: 42px;
    filter: invert(100%);
}

/* -------------------- Form title -------------------- */
.auth form > span {
    width: fit-content;
    margin: 40px 0 0 0;
    font-size: 22px; -webkit-text-stroke: 0.75px; text-align: center;
}

/* -------------------- Inputs -------------------- */
.auth label:first-of-type {
    margin-top: 40px !important;
}
.auth label {
    align-self: flex-start;
    margin: 10px 0 8px 0;
    font-size: 16px; -webkit-text-stroke: 0.4px;
}

/* -------------------- Birth inputs -------------------- */
.wrap-birth-inputs {
    display: flex;
    width: 100%;
}
.day {
    flex-basis: 15%; max-width: 15%;
    margin-right: 2%;
    text-align: center;
}
.month {
    flex-basis: 58%; max-width: 58%;
    padding-left: 8px;
    margin: 0 2% 6px 0;
    border: 1px solid #cdcdcd;
    background-color: white;
    font-size: 14px; font-family: 'Raleway', Arial; text-align: center;
    color: grey;
}
.year {
    flex-basis: 23%; max-width: 23%;
    text-align: center;
}

/* -------------------- Phone input -------------------- */
.auth .react-tel-input {
    margin-left: -9%;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////// LOG SIGN UNDER 460 /////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

@media screen and (max-width: 460px) {

    .auth.log-sign {
        min-height: 0;
    }
    .auth.log-sign form {
        width: 70vw; min-width: 70vw;
        padding: 0 15vw 0 15vw;
        border: none;
    }

    .auth.log-sign button {
        padding: 11px 26px 11px 26px;
        font-size: 20px;
    }
    
    .auth.log-sign form > span {
        font-size: 22px;
    }
}


/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////// ACCOUNT //////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* -------------------- Form account -------------------- */
.auth.account form {
    display: flex; flex-direction: column; align-items: center;
    max-width: 780px;
    padding-bottom: 40px;
    background-color: #f9f9f9 !important;
}
.auth form > .wrap-columns {
    display: flex;
}

.auth form > .wrap-columns > div {
    display: flex; flex-direction: column; align-items: center;
    width: 50%;
    padding: 0 75px 0 45px;
}
.auth form > .wrap-columns > div:first-child {
    padding: 0 45px 0 75px;
}

/* -------------------- email & grey-link -------------------- */
.auth.account form cite {
    font-style: normal;
}
.auth.account form p.grey-link {
    font-size: 12px;
    text-decoration: none !important;
}
.auth.account form p.grey-link:hover {
    text-decoration: underline !important;
}

/* -------------------- Bottom wrap -------------------- */
.wrap-account-buttons {
    display: flex; align-items: center;
}
.auth.account .wrap-account-buttons > div {
    display: flex; flex-direction: column; align-items: center;
    width: fit-content;
    margin: 0 0 0 0;
}
.auth.account .wrap-account-buttons > div:first-child {
    margin-right: 238px;
}

/* -------------------- Logout button -------------------- */
.auth.account .log-out {
    height: fit-content;
    padding: 10px 15px 10px 15px;
    margin: 20px 0 5px 0;
    border: 1px solid #e60000;
    background-color: transparent;
    color: #e60000;
    font-size: 16px; -webkit-text-stroke: 0.1px;
    -webkit-transition-duration: 0.45s; transition-duration: 0.45s;
}
.auth.account .log-out:hover, .auth.account .log-out:active {
    color: white;
    background-color: #e60000;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////// ACCOUNT UNDER 780 /////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

@media screen and (max-width: 780px) {
    .auth form {
        padding-bottom: 40px !important;
    }

    /* -------------------- Form account -------------------- */
    .auth.account {
        min-height: 0;
    }
    .auth.account form {
        width: 70vw; min-width: 70vw;
        padding: 0 15vw 0 15vw !important;
    }
    .auth.account form > .wrap-columns {
        flex-direction: column;
    }
    .auth.account form > .wrap-columns > div {
        width: 100%;
        padding: 0;
    }
    .auth.account form > .wrap-columns > div:first-child {
        padding: 0;
    }

    /* -------------------- Title -------------------- */
    .auth.account form > span {
        font-size: 22px;
    }

    /* -------------------- Wrap columns -------------------- */
    .auth.account div[class="wrap-columns"] > div:nth-child(2) label:first-of-type {
        margin-top: 10px !important;
    }

    /* -------------------- Wrap buttons -------------------- */
    .auth.account .wrap-account-buttons {
        flex-direction: column;
    }
    .auth.account .wrap-account-buttons > div {
        margin: 0 0 0 0;
    }
    .auth.account .wrap-account-buttons > div:first-child {
        margin: 0 0 30px 0;
        order: 1;
    }
    .auth.account button {
        margin: 25px 0 8px 0;
        padding: 11px 26px 11px 26px;
        font-size: 20px;
    }
    /* ------ Account logout button ------ */
    .auth.account .log-out {
        padding: 10px 15px 10px 15px;
        border: 1px solid #e60000;
        background-color: transparent;
        color: #e60000;
        font-size: 14px;
    }
    .auth.account .log-out:hover {
        color: #e60000;
        background-color: transparent;
    }
    .auth.account .log-out:active {
        color: white !important;
        background-color: #e60000 !important;
    }
}