@media screen and (max-width: 700px) {
    .app-header a:not([class*="logo-excite"]) {
        display: none !important;
    }

    .app-header .hamburger {
        display: inline !important;
        margin: 0 10px 0 auto;
    }
}

.app-background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #cccccc;
}

.app-header {
    display: flex;
    width: 100%;
    max-width: 1460px;
    height: 60px;
    background-color: black;
    align-self: center;
}

.app-header a {
    display: flex;
    align-items: center;
    height: 100%;
    width: fit-content;
    padding: 0 20px;
    color: white !important;
}
.app-header a:hover {
    text-decoration: underline;
    transition-duration: 1s;
}

.app-header .logo-excite > span {
    font-size: 28px;
    font-family: "Raleway", Arial;
    -webkit-text-stroke: 0.5px;
}
.app-header .logo-excite {
    margin-right: 50px;
}

.app-header .hamburger {
    display: none;
}