body {
    margin: 0;
    padding: 0;
    font-family: "Raleway", Arial;
    font-size: 16px;
    color: #333333;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a, a:link, a:visited, a:hover, a:active {
    color: #333333;
    text-decoration: none;
}

input, textarea, button {
    outline: none !important;
}

.purple {
    color: purple;
}

* {
    z-index: 2;
}