
#root, body, html {
    background-color: #0d0d0d;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Raleway", Arial;
    font-size: 16px;
    color: #333333;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a, a:link, a:visited, a:hover, a:active {
    color: #333333;
    text-decoration: none;
    outline: none !important;
    box-shadow: none !important;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none !important;
    -webkit-user-select: none !important;
    -khtml-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}

input, textarea, select, button, button:focus {
    outline: none !important;
    box-shadow: none !important;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none !important;
    -webkit-user-select: none !important;
    -khtml-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}

button {
    cursor: pointer;
}

.purple {
    color: purple;
}

p {
    margin: 0;
}

.ecoin {
    height: 20px;
    vertical-align: middle;
}